:root{
    --BUTTON_SIZE: 45px;
}

button{
    font-size: 24px;
    padding: 5px;
    width: var(--BUTTON_SIZE);
    height: var(--BUTTON_SIZE);
}

#calculator{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

#content{
    display: flex;
    flex-direction: column;
    background-color: gray;
    border-radius: 10px;
    padding: 15px;
    max-width: 300px;
    max-height: 400px;
    align-items: center;
}

#screen{
    display: flex;
    flex-wrap: nowrap;
    background-color: greenyellow;
    font-size: 36px;
    min-width: 195px;
    min-height: 60px;
    justify-content: flex-end;
    align-items: center;
}

#display{
    margin: 5px;
}

#calc_buttons{
    display: grid;
    margin-top: 5px;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "clear clear backspace backspace"
        ". divide multiply subtract"
        "seven eight nine add"
        "four five six add"
        "one two three equal"
        "zero zero point equal";
}

#clear{
    grid-area: clear;
    justify-self: stretch;
    width: 2 * var(--BUTTON_SIZE);
}

#backspace{
    grid-area: backspace;
    justify-self: stretch;
    width: 2 * var(--BUTTON_SIZE);
}

#divide{
    grid-area: divide;
}

#multiply{
    grid-area: multiply;
}

#subtract{
    grid-area: subtract;
}

#seven{
    grid-area: seven;
}

#eight{
    grid-area: eight;
}

#nine{
    grid-area: nine;
}

#add{
    grid-area: add;
    justify-self: stretch;
    height: 2 * var(--BUTTON_SIZE);
}

#four{
    grid-area: four;
}

#five{
    grid-area: five;
}

#six{
    grid-area: six;
}

#one{
    grid-area: one;
}

#two{
    grid-area: two;
}

#three{
    grid-area: three;
}

#equal{
    grid-area: equal;
    justify-self: stretch;
    height: 2 * var(--BUTTON_SIZE);
}

#zero{
    grid-area: zero;
    justify-self: stretch;
    width: 2 * var(--BUTTON_SIZE);
}

#point{
    grid-area: point;
}